# <p style="color:#008000"> Intro to Python </p>

## Learning Objective

Two objectives of this module - introduce python for those of you who are beginners, and get you all familiar and comfortable with using jupyter notebooks.

The truth is, to get comfortable with python, you will need to practice. There is a tremendous amount of material on the internet that will aid you on your python jounrey and it will likely be more informative than what we could cover in a learning session.

https://www.learnpython.org/ is a good place to start and will cover all the materials in this learning session and more.

## Welcome to Python

Python is a popular choice by beginners and experienced programmers alike.
It is widely adopted in task automation, data analytics, and machine learning, but also capable of many other use cases such as web development.

The following features make Python easy to pick up:

1. An interpreted language (the code is executed line by line rather than being complied into machine code): easy to test and debug;
2. A high-level language: easy to code without worrying about the nitty gritty of the hardcore computer science concepts such as memory management;
3. A dynamically-typed language: easy to interact with different types of data without strictly defining variable type;
4. Easy-to-learn syntax;
5. Large active community: free libraries and tools to achieve common tasks; tutorials and forums as resources for learning;

## Python Interpreter & Jupyter Notesbook

Python interpreter is required to execute python code. Users can install it in Windows and run Python code locally. The interpreter can also be hosted on servers so users can run code without any installation.

There are several ways to run Python code:

1. Use Windows command console to run code line by line (local)
2. Use WIndows command console to run entire script (local)
3. Use an IDE (integrated development environment) developed by the Python commuity such as Visual Studio Code and Jupyter Notebook

There are 2 types of Python code files:
1. .py - generic Python script
2. .ipynb - Jupyter specific

Recommended Beginner Package: Anaconda

## Using Jupyter Notebook

The Jupyter Notebook is an interactive environment for writing and running code. The notebook is capable of running code in a wide range of languages. However, each notebook is associated with a single kernel.  This notebook is associated with the IPython kernel, therefore runs Python code.

These lines of text are not interpreted as code becaused this block has been designated as **Markdown**.

Markdown supports HTML and is an excellent way to add commentary to your code outside of hash comments.

The Jupyter Notebook is a friendly IDE for beginners. Users can organize their code in "code blocks". Each block can be triggered individually and the result of the code is displayed immediately below that code block. This makes debugging very easy.

Users can interact with the built in buttons in Jupyter for various operations. Keyboard shortcuts are available as well.

Run a code cell using `Shift-Enter` or pressing the <button class='btn btn-default btn-xs'><i class="icon-step-forward fa fa-play"></i></button> button in the toolbar above:

In [1]:
## This is your first line of code
print("Hello World")

Hello World

## Managing the Kernal - Python Instance

Code is run in a separate process called the Kernel.  The Kernel can be interrupted or restarted.  Pressing the <button class='btn btn-default btn-xs'><i class='icon-stop fa fa-stop'></i></button> button in the toolbar above will interrupt the code execution.

The kernel maintains the state of a notebook's computations. You can reset this state by restarting the kernel. This is done by clicking on the <button class='btn btn-default btn-xs'><i class='fa fa-repeat icon-repeat'></i></button> in the toolbar above.

In [2]:
##We will define some variables in the first code block
radius = 2
pi = 3.14

In [3]:
##And execute it in the second code block to demonstrate a single Python Instance
##However if we restart the Kernal and run this code block directly, it wouldn't work. Restarting the Kernal clears the memory and reset the Python Instance.
area = pi * (radius ** 2)
print(area)

12.56

# Learning by referencing the documentation

Learn to leverage the documentation or help function while you code.

### Quick Tip:

*Hash/Unhash code by pressing " ctrl+/ ". You will be using this frequently in the lessons!*

## Variables

A "Variable" is a name given to refence a specific object in python. Variables are just names, they do not have data types.
Variables can be assigned to other variables. 
Python will also collect the garbage and recycles the memory (eg. planet variable remapped to 1, Pluto gets recycled)

In [5]:
planet = 'pluto'
planet = 1   #order of execution becomes important
print(planet)

#multiple variables can be named at once
a,b = 'Me','You'
print(a)
print(b)

1
Me
You

Variables need to be defined, there is no default value

In [6]:
print(plant) #note deliberate mispelling

NameError: name 'plant' is not defined

Variables are mutable

In [7]:
a = 1
a = 2
print(a)

2

Variable convention includes: snake case and camel case

my_variable is a snake case

myVariable is a camel case

iPhone is also a camel case

Snake case is more common convention in when coding in Pyhon

It is important to remember that Python 3 has 35 reserved keywords that cannot be used as variable names. Below is the list of Python 3.6 reserved keywords in their exact spelling (McKinney, 2017):

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise

## Python Data Types

Python only supports certain data types natively.
We will list the important ones in below code blocks.

In [8]:
#numeric data types

integer_number = 2
float_number = 2.2
complex_number = complex(1,1)

print(integer_number)
print(type(integer_number))

print(float_number)
print(type(float_number))

2
<class 'int'>
2.2
<class 'float'>

In [9]:
#string data type
my_string = 'String is text, and is bounded by single/double quotation marks'
my_string2 = "2" ##This is also a string not a number

print(my_string)
print(type(my_string))
print(my_string2)
print(type(my_string2))

String is text, and is bounded by single/double quotation marks
<class 'str'>
2
<class 'str'>

In [10]:
#bool (boolean)
my_bool = True
my_bool2 = False

print(my_bool)
print(type(my_bool))
print(my_bool2)
print(type(my_bool2))

True
<class 'bool'>
False
<class 'bool'>

In [11]:
#tuple - a sequence of data bounded by round bracket
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [12]:
#list - a sequence of data bounded by square bracket
my_list = [1,2,3]
print(my_list)
print(type(my_list))

[1, 2, 3]
<class 'list'>

In [13]:
#tuples and lists have many similarities.
#both can contain different data types
#both are defined with a certain "length"
#both have orders

my_tuple2 = (1,'one',True)
my_list2 = [2,"two",["another list",False]]

print(my_tuple2)
print(type(my_tuple2))
print(len(my_tuple2))
print(my_list2)
print(type(my_list2))
print(len(my_list2))

(1, 'one', True)
<class 'tuple'>
3
[2, 'two', ['another list', False]]
<class 'list'>
3

In [14]:
#The key difference between the two data types is that tuples are immutable but lists are
my_list2.append(my_tuple2)
print(my_list2)
print(type(my_list2))
print(len(my_list2))

#Once a tuple is defined, you can no longer make changes to it.
#Therefore, lists are more frequently used while coding if you want to group some data into a sequence. As you can re-iterate(supposed to be mutable?) it along the process as you want.

[2, 'two', ['another list', False], (1, 'one', True)]
<class 'list'>
4

In [15]:
#dictionary - one or multiple key:value pairs bounded by curly brackets
my_dictionary = {
    'book': 'The Lord of the Rings',
    'author': 'J.R.R. Tolkien'
}

print(my_dictionary)
print(type(my_dictionary))

{'book': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien'}
<class 'dict'>

In [16]:
#the keys are usually strings, but the values can contain any data type, a single string, or number type, or a tuple, a list, or even another dictionary
my_dictionary2 = {
    'book': 'The Lord of the Rings',
    'author': 'J.R.R. Tolkien',
    'reviews': {
        'Amazon': 4.5,
        'WSJ': 4.8
    }
}

## Python native functions

In [17]:
#math operators
print(4+7) 
print(7-4) 
print(4*7)
print(4**2) ##exponentiation
print(8/4)
print(4%7) ##whole division
print(round(4.55,1)) ##rounding
print(abs(-5))
print((5+4)*2) ##supporting scientific calc

11
3
28
16
2.0
4
4.5
5
18

In [18]:
#data type conversion
a = 4.0

print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

4.0
<class 'float'>
4
<class 'int'>

In [19]:
a = "1"

print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

1
<class 'str'>
1
<class 'int'>

In [20]:
a = (1,2,3)

print(a)
print(type(a))

b = list(a)
print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [21]:
#utility functions
print(a)
type_of_a = type(a)
print(type_of_a)
print(range(0,5))

(1, 2, 3)
<class 'tuple'>
range(0, 5)

In [22]:
#conditions
1 == 2

False

In [23]:
3 == 3

True

In [24]:
3 == "3"

False

In [25]:
9 > 8

True

In [26]:
1 in [1,2,3]

True

In [27]:
4 in [1,2,3]

False

In [28]:
a = 50

b = (49 == a)
print(b)
print(type(b))

#The condition results a bool (True, False)
#You can assign the condition result into a variable

False
<class 'bool'>

In [29]:
print(b == False)

True

In [30]:
a = 3.0
b = 3
print(a == b) 
print(type(a) == type(b))
print(a is b)

True
False
False

In [31]:
#Python condition supports "and" and "or"
a = (2 == 2) & (3 == 3)
b = (2 == 2) & (2 == 3)
c = (2 == 2) | (2 == 3)

print(a)
print(b)
print(c)

True
False
True

The expression after `if` should be a boolean expression, i.e. that evaluates to `True` or `False`. Here is a list of the comparison operators that are useful for constructing boolean expressions:  

     x == y   tests for equality      
     x != y   x is not equal y (5 != 6 is True)   
     x > y    greater than            
     x < y    less than              
     x >= y   greater than or equal   
     x <= y   less than or equal  
     x is y   x is the same as y

__NOTE:__ The `is` operator may seem the same as the equality (==) operator. In fact, operator `is` checks if two variables point to the same object, whereas the `==` checks if the values for the two variables are the same.

## Optional: Python as a OOP (Object Oriented Programming) language

This is optional knowledge at this point. But this is helpful as you progress in Python.

Everything in Python or other OOP language is an object. An object is a group of data type with similar fundamental structures. In turn, programmers can create attributes and method (functions) onto an object. This practice makes code well organized and reused easily.

Attributes are accessible as object.attribute

Methods are accessible as object.method()

As you progress, you will be able to define your own object by using "class"

In [32]:
#for example, the data type string is a native Python object. Once you defined a string object, you can access all available attributes and methods automatically.

my_string3 = "How many a's are there in this sentence?"
my_string3.count("a")

3

In [33]:
#similarily for a list
my_inventories = "inventories: GED TDBTO CADSSO,GED TDSTO CADSSO,GED TDBTO SNOTES,GED TDBTO SNOTES2"
my_inventories.split(",")

['inventories: GED TDBTO CADSSO',
 'GED TDSTO CADSSO',
 'GED TDBTO SNOTES',
 'GED TDBTO SNOTES2']

## Access and manipulate data from Python native data types

#### Accessing data in a string

In [34]:
print(my_string3)

How many a's are there in this sentence?

In [35]:
my_string3[0] ##It is important that in programming languages, the index starts from 0

'H'

In [36]:
my_string3[0:3] ##the slicing method includes the first index but not the last

'How'

In [37]:
my_string3[:3] ##This is equivalent as above if you want to start from the 0 index

'How'

In [38]:
my_string3[4:] ##again m is the 4th character but its index is 3 in the list

"many a's are there in this sentence?"

In [39]:
#strings are additive
my_string4 = my_string3 + " The answer is: " + str(my_string3.count("a"))
print(my_string4)

How many a's are there in this sentence? The answer is: 3

In [40]:
#But f string is a better way if you want to include a variable there
my_string5 = f"{my_string3} The answer is: {my_string3.count('a')}"
print(my_string5)

How many a's are there in this sentence? The answer is: 3

#### Accessing data in a list

In [41]:
characters = ['Homer','Marge','Bart','Lisa','Burns','Smithers']


print ('My best friend is ' + characters[2])

#to get a range of elements in a list.
print (characters[2:5]) #get 5 elements folling the first 2

#To return the length of a list
print(len(characters))

#return the last item in a list using index
print(characters[-1])

My best friend is Bart
['Bart', 'Lisa', 'Burns']
6
Smithers

#### Accessing data in a dictionary

In [42]:
print(my_dictionary2)
my_dictionary2['book'] ##you can access the value of they key

{'book': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien', 'reviews': {'Amazon': 4.5, 'WSJ': 4.8}}

'The Lord of the Rings'

In [43]:
my_dictionary2['reviews']['Amazon'] ##similarily, you can access values from nested dictionaries

4.5

In [44]:
#You can update the value of a key
my_dictionary2['reviews']['Amazon'] = 4.2
print(my_dictionary2)

{'book': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien', 'reviews': {'Amazon': 4.2, 'WSJ': 4.8}}

## The Power of Programming

The real power of programming comes from the ability to perform:

**Selection** - The ability to do one thing rather than another

**Repitition** - The ability to automatically do something many times

#### Selection - If, elif, and else

In [45]:
moons = 3
if moons < 0:    #always start with if condition
    print('less')  
elif moons == 0: #there can be 0 or more elif clauses 
    print('equal')
else:            #the else clause has no condition and is executed if above clauses are not met
    print('greater')

#Condition and Clauses are always tried in order
#Since mmoons is not less than 0 or equal to zero, neither of the first 2 blocks are executed
#indent in Python has meaning. It is used in selection statements and functions to represent relationship.

greater

Python uses indentation to show which statements are in an if, elif, else statement.

Any amount of indentation will work, but the standard is 4 spaces (**and you must be consistent**)

#### Repitition - Loops

While loop (loop while condition is met)

In [46]:
tasks = 3
while tasks > 0:  #<- while this is true
    print (tasks) #  do
    tasks -= 1    # This

3
2
1

For Loops(iterating through lists)

In [47]:
data = range(10) #range, like an index, starts at 0. This range will give 0-9 (10 numbers)
scale = 2.5

#iterate from i=0 to i=9
for i in data:
    i = i*scale
    print(i)

0.0
2.5
5.0
7.5
10.0
12.5
15.0
17.5
20.0
22.5

#### Combine Repitition (looping) and Selection

In [48]:
tasks = 0
while tasks < 5:
    if tasks >0:
        print (tasks)
    tasks +=1

1
2
3
4

#### Breaks and Continues

We can use breaks to stop a loop when a condition is met, or continue to skip a specific iteration of the loop (ie. when a null value is present)

In [49]:
print('Break example')
d2 = range(5)

for i in d2:
    if i == 3:
        break
    print(i)

print("Continue example")

d3 = range (6)

for i in d3:
    if i == 4:
        continue
    print(i)

Break example
0
1
2
Continue example
0
1
2
3
5

## Functions

There are two types of functions in Python programming:

**Standard library functions** - These are built-in functions in Python that are available to use.
**User-defined functions** - We can create our own functions based on our requirements.

In [50]:
#syntax for a function
def function_name(arguments):
    # function body 

    return

In [51]:
print(type(function_name))

<class 'function'>

In [52]:
def convert_percentage(x):
    for x in data:
        print(x/100)

data = [10,22,33,100]

In [53]:
convert_percentage(data)

0.1
0.22
0.33
1.0

In [54]:
def simple_percent(x):
    perc = x/100
    return (perc)

In [55]:
simple_percent(10)

0.1

## Takeaways

This notebook is to set you up so you can start coding.
Some of you might find the material very basic if you already have some experience in Python.

But there are still some key concepts here.

It is always important to differentiate what data type and functions are Python native versus what is provided by 3rd party libraries and tools developed by the Python community.
For instances, you might have noticed this notebook didn't mention anything about "tables". In fact, Python does not support tabular data type by itself. Instead, a list of dictionaries is something equivalent to a table if you stick to native Python strictly. Nevertheless, thanks to the large Python community, external libraries such as Pandas is developed and made available free so we can import it to process data in tabular format.

In addition, concepts of selection, repitition, and functions are so generic to all programming languages. They are the true power of programming and the key capabilities of automation.

Lastly, understanding OOP (Object Oriented Programming) might be a bit harder if you just started. But keep it in mind. You will understand this fundamental logic and find it helpful as you progress.

Please be noted that this notebook is far away from an all-inclusive manual of Python. In fact, it is impossible to find any course that is "complete". Practice and research is the only way to learn coding. Asking Google the right question, checking with your colleagues or friends, and leveraging powerful forums such as Stack Overflow are all good sources of learning. But eventually, you need to get used to using the official documentations from either native Python or some 3rd party libraries.

This is the first step of millions to go.
Good luck and Happy Coding.

## Practice Questions

Exercise 1

Write a function to compute the n-th element of the Fibonacci sequence recursively.  
If you need to familiarize yourself with the Fibonacci sequence, please refer to
https://en.wikipedia.org/wiki/Fibonacci_number (Fibonacci number, n.d.).
The function should take an integer number `n` as an argument and return n-th element of the Fibonacci sequence.
The first two numbers in the sequence are 0 and 1, and each subsequent number is the sum of the previous two.

In [95]:
##Type your code here

Exercise 2

In this question, you are given a string `s` which represents a DNA string. The string `s` consists of symbols `'A', 'C', 'G',` and `'T'`. An example of a length 21 DNA string is `"ATGCTTCAGAAAGGTCTTACG."` 

Your task is to write a code which will count the number of times each of the symbols `'A', 'C', 'G'`, and `'T'` occur in `s`. Your code should generate a **list of 4 integers** and **print it out**.

In [ ]:
##Type your code here

Exercise 3

You are given a dictionary of the US states and their capitals. The keys in the dictionary are states and the values are capital names.

Write a code to return a **list of all capitals** that contain the name of a state in their name as a substring.

**HINT:** For example, `Indianapolis` as a capital name and `Indiana` as a state name is one of the key/value pairs that your code would find. Your code should add `Indianapolis` to the list. After you found all capitals and added them to the list, print out the list.

In [96]:
# Run this cell to create a dictionary of states' capitals
capitals={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona':'Phoenix',
    'Arkansas':'Little Rock',
    'California': 'Sacramento',
    'Colorado':'Denver',
    'Connecticut':'Hartford',
    'Delaware':'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
    'Hawaii': 'Honolulu',
    'Idaho': 'Boise',
    'Illinios': 'Springfield',
    'Indiana': 'Indianapolis',
    'Iowa': 'Des Monies',
    'Kansas': 'Topeka',
    'Kentucky': 'Frankfort',
    'Louisiana': 'Baton Rouge',
    'Maine': 'Augusta',
    'Maryland': 'Annapolis',
    'Massachusetts': 'Boston',
    'Michigan': 'Lansing',
    'Minnesota': 'St. Paul',
    'Mississippi': 'Jackson',
    'Missouri': 'Jefferson City',
    'Montana': 'Helena',
    'Nebraska': 'Lincoln',
    'Neveda': 'Carson City',
    'New Hampshire': 'Concord',
    'New Jersey': 'Trenton',
    'New Mexico': 'Santa Fe',
    'New York': 'Albany',
    'North Carolina': 'Raleigh',
    'North Dakota': 'Bismarck',
    'Ohio': 'Columbus',
    'Oklahoma': 'Oklahoma City',
    'Oregon': 'Salem',
    'Pennsylvania': 'Harrisburg',
    'Rhoda Island': 'Providence',
    'South Carolina': 'Columbia',
    'South Dakota': 'Pierre',
    'Tennessee': 'Nashville',
    'Texas': 'Austin',
    'Utah': 'Salt Lake City',
    'Vermont': 'Montpelier',
    'Virginia': 'Richmond',
    'Washington': 'Olympia',
    'West Virginia': 'Charleston',
    'Wisconsin': 'Madison',
    'Wyoming': 'Cheyenne'  
}
capitals

{'Alabama': 'Montgomery',
 'Alaska': 'Juneau',
 'Arizona': 'Phoenix',
 'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Colorado': 'Denver',
 'Connecticut': 'Hartford',
 'Delaware': 'Dover',
 'Florida': 'Tallahassee',
 'Georgia': 'Atlanta',
 'Hawaii': 'Honolulu',
 'Idaho': 'Boise',
 'Illinios': 'Springfield',
 'Indiana': 'Indianapolis',
 'Iowa': 'Des Monies',
 'Kansas': 'Topeka',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Maine': 'Augusta',
 'Maryland': 'Annapolis',
 'Massachusetts': 'Boston',
 'Michigan': 'Lansing',
 'Minnesota': 'St. Paul',
 'Mississippi': 'Jackson',
 'Missouri': 'Jefferson City',
 'Montana': 'Helena',
 'Nebraska': 'Lincoln',
 'Neveda': 'Carson City',
 'New Hampshire': 'Concord',
 'New Jersey': 'Trenton',
 'New Mexico': 'Santa Fe',
 'New York': 'Albany',
 'North Carolina': 'Raleigh',
 'North Dakota': 'Bismarck',
 'Ohio': 'Columbus',
 'Oklahoma': 'Oklahoma City',
 'Oregon': 'Salem',
 'Pennsylvania': 'Harrisburg',
 'Rhoda Island': 'Providence',
 'South Carolina': 'Columbia',
 'South Dakota': 'Pierre',
 'Tennessee': 'Nashville',
 'Texas': 'Austin',
 'Utah': 'Salt Lake City',
 'Vermont': 'Montpelier',
 'Virginia': 'Richmond',
 'Washington': 'Olympia',
 'West Virginia': 'Charleston',
 'Wisconsin': 'Madison',
 'Wyoming': 'Cheyenne'}

In [99]:
##Type your code here

Exercise 3

1). Generate a list of integers from 0 to 5, reverse the list and print it out. Explain how you reversed the list.     
**Hint:** the `append()` function will help you to generate the list by adding one integer to the list at a time

In [101]:
#Type your code here

Exercise 4

Write a function `isIn()` which returns **boolean `True`** if a point is within a rectangle specified by two sets of coordinates and **boolean `False`** if the point is outside the rectangle. The function should accept three parameters:
- the first parameter is a set of coordinates which defines one of the corners of the rectangle, 
- the second parameter is also a set of coordinates that defines the second corner,
- the third set of coordinates defines a single point which is being tested.

For example, 
- `isIn((1,2), (3,4), (1.5, 3.2))` should return `True`, 
- `isIn((4,3.5), (2,1), (3, 2))` should return `True`, 
- `isIn((-1,0), (5,5), (6,0))` should return `False`,
- `isIn((4,1), (2,4), (2.5,4.5))` should return `False`.

Test your function with at least 2 different sets of data points in addition to the examples above.

**NOTES:** 
1. If the point being tested is on the side of the rectangle, consider it to be within the rectangle. For example, if the rectangle is defined as `(1,2), (3,4)` and the point is `(2,2)`, the function should return `True`.
2. In this assignment, we assume that the edges of the rectangle are parallel to coordinate axes.
3. We also assume that the first parameter does not always represent the left corner of the rectangle and the second parameter is not always the right corner. The function should work correctly either way. Please note the second test condition above where the first parameter, `(4,3.5)`, represents the top-right corner and the second parameter, `(2,1)`, represents left-bottom corner.

In [98]:
##Type your code here

Exercise 5

Modify your function from the previous question so it takes a list of points rather than a single point and returns **boolean `True`** only if all points in the list are in the rectangle.

For example,

- `allIn((0,0), (5,5), [(1,1), (0,0), (5,5)])` should return `True`
- but `allIn((0,0), (5,5), [(1,1), (0,0), (5,6)])` should return `False`
- empty list of points `allIn((0,0), (5,5), [])` should return `False`

Use the same assumptions as above about the placement of the points and how rectangle is defined. Make sure that your function returns `False` for empty list of points (no values).

Test your function with at least 3 different sets of data points.

In [102]:
##Type your code here